body {
    font-size: 1em;
    font-family: Tahoma, sans-serif;
}

h1 {
    font-weight: lighter;
    font-size: 1.8em;
    padding-bottom: 1%;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 9em;
    justify-content: space-between;
}

.box {
    background-color: rgb(108, 162, 217);
    width: 15.6em;
    height: 9.3em;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.image {
    width: 15.6em;
    height: 9.4em;
    position: relative;
    bottom: 10%;
}

.box::before {
    content: "Image Title";
    background-color: aliceblue;
    padding-left: 35.6%;
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    top: 100%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow: 0px 2px 10px rgb(229, 230, 230);
    font-size: 0.91em;
}

.text {
    position: relative;
    top: 5rem;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 540px) {
    .container {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }

    h1 {
        text-align: center;
    }
}